@model TableViewModel
<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Tables
</h2>
<!-- CTA -->
<a class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
   href="https://github.com/estevanmaito/windmill-dashboard">
    <div class="flex items-center">
        <svg class="w-5 h-5 mr-2"
             fill="currentColor"
             viewBox="0 0 20 20">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
        </svg>
        <span>Star this project on GitHub</span>
    </div>
    <span>View more &RightArrow;</span>
</a>
<windmill-table>
    <windmill-table-header>
        <th class="px-4 py-3">Client</th>
        <th class="px-4 py-3">Amount</th>
        <th class="px-4 py-3">Status</th>
        <th class="px-4 py-3">Date</th>
    </windmill-table-header>
    <windmill-table-body>
        @foreach(var user in Model.Clients) {
        <windmill-table-row>
            <td class="px-4 py-3 text-sm">
                <div class="flex items-center text-sm">
                    <!-- Avatar with inset shadow -->
                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                        <windmill-avatar class="w-full h-full" src="@user.AvatarUrl" loading="lazy" />
                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                    <div>
                        <p class="font-semibold">@user.Name</p>
                        <p class="text-xs text-gray-600 dark:text-gray-400">
                            @user.Role
                        </p>
                    </div>
                </div>
            </td>
            <td class="px-4 py-3 text-sm">
                @user.Amount.ToString("C")
            </td>
            <td class="px-4 py-3 text-xs">
                <windmill-badge class="px-2 py-1 @Model.GetColour(user.Status)">@user.Status</windmill-badge>
            </td>
            <td class="px-4 py-3 text-sm">
                @user.Date.ToString("MM/dd/yyyy")
            </td>
        </windmill-table-row>
        }
    </windmill-table-body>
    <windmill-pager item-count="@Model.ItemCount" items-per-page="@Model.ItemsPerPage" current-page="@Model.PageIndex" class="px-4 py-3">
        <windmill-pager-item type="button">
            <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
            </svg>
        </windmill-pager-item>
        @for (int i = 1; i < Model.GetPageCount(); ++i) {
            <windmill-pager-item active="@Model.PageIndex == i" type="button">@i</windmill-pager-item>
        }
        <windmill-pager-item type="button">
            <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
            </svg>
        </windmill-pager-item>
    </windmill-pager>
</windmill-table>
